.fondo{
    background-image: url('./fondo7.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#titulo{
    font-size: 5em;
       
}

#consigna{
    font-size: 2em;
    margin-top: 2em;
    text-decoration-line: underline;
    font-family: sans-serif;

}

#selector{
    margin-top: 6em;
    columns: 6;
}

